<p-toast />
<h2 id="comp-form-heading" class="sr-only">Composition by GCR Form</h2>
<section>
  <form [formGroup]="form" class="flex flex-col space-y-6" aria-labelledby="comp-form-heading">
    <app-file-view formControlName="files" [minFileCount]="1"></app-file-view>
    <app-number-view
      formControlName="vecsize"
      description="Select the vector size"
      label="Vector size"
      errorMessage="Vector size is required and must be between 1 and 10"
      [minValue]="1"
      [maxValue]="10"
    ></app-number-view>
  </form>
</section>
<section class="mx-auto max-w-3xl px-6" aria-labelledby="comp-form-heading" role="region">
  <div class="mt-6 rounded-lg border border-gray-200 bg-white p-4 shadow-sm">
    @if (form.dirty && form.invalid) {
      <p class="text-sm text-red-700">
        Please ensure all required fields are filled out correctly before proceeding.
      </p>
    }
    <p-button
      label="Vectorise and Visualise"
      [disabled]="!form.valid"
      (onClick)="computeCGRVectors()"
    />
  </div>
</section>

@if (refNames().length > 0) {
  @for (refName of refNames(); track $index) {
    <section class="mx-auto px-6" aria-labelledby="comp-form-heading" role="region">
      <h3 class="mb-2 text-lg font-semibold text-gray-900 text-center pt-6">{{ refName }}</h3>
      <app-scatter-chart [data]="data()[$index]" />
    </section>
  }
}
